<ion-view title="{{racha.nome}}">

    <ion-content>


        <ion-item class="item item-avatar" ng-click="jogadores()">
            <img src="img/avatar.jpg" alt="">
            <h2>Participantes</h2>
            <p>Cadastrar Jogador </p>
        </ion-item>

        <ion-item class="item item-avatar" ng-click="()">
            <img src="img/dinheiro.jpg" alt="">
            <h2>Mensalidade</h2>
            <p>Genrenciar mensalidades</p>
        </ion-item>

        <ion-item class="item item-avatar" ng-click="()">
            <img src="img/placar2.jpg" alt="">
            <h2>Partidas</h2>
            <p>Gerenciar partidas</p>
        </ion-item>

    </ion-content>
</ion-view>